<h1>My S3 Data</h1>

<div>
    <ul class="directory-list">

        {{#if isRoot}}
        {{else}}
        <li class="folder"><a href="../">../</a></li>
        {{/if}}
        {{#each directories}}
        <li class="folder"><a href="{{this}}">{{this}}</a></li>
        {{/each}}
        {{#each files}}
        {{#with this}}
        <li><a href="https://{{../bucketName}}.s3.amazonaws.com/{{path}}">{{name}}</a></li>
        {{/with}}
        {{/each}}
    </ul>
</div>